<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName" default-lazy-init="false">
       
    <!-- 采用注解的方式配置bean -->
	<context:annotation-config />
	<!-- 自动扫描路径下所有类 -->
	<context:component-scan base-package="com.zs.light" />

	<!-- 每次请求生成一个新的 -->
	<bean id="singleThreadExecutor" scope="prototype"
        class="java.util.concurrent.Executors"
        factory-method="newSingleThreadExecutor"/>
	
	<!-- 执行器map -->
	<bean id="executorMap" class="java.util.HashMap">
	  <constructor-arg>
	   <map>
	    <entry key="MG98PIC" value-ref="singleThreadExecutor" />
	   </map>
	  </constructor-arg>
	</bean>
	 
	<bean id="eachCenterThreadPolls" scope="singleton"
		class="com.zs.light.spider.client.scheduler.impl.EachCenterThreadPolls">
		
		<property name="executorMap" ref="executorMap" />

	</bean>
	
</beans>